.App {
  text-align: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  background-image: url('./images/logo.png');
  height: 40vmin;
  background-repeat: no-repeat;
}
.list {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 200px);
  text-align: center;
}

.App-link {
  color: #09d3ac;
}
