body {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.App {
  text-align: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-image: url('./images/logo.png');
  height: 40vmin;
  background-repeat: no-repeat;
}
.list {
  margin: auto;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 200px);
  text-align: center;
  padding: 0;
}

.App-link {
  color: #09d3ac;
}
