.App {
  text-align: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  background-image: url('./images/logo.png');
  height: 40vmin;
  background-repeat: no-repeat;
}

.App-link {
  color: #09d3ac;
}
